{%extends 'include/homepage.html' %}
{% load static %}
{% block content %}

    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <!-- start preloader -->
        <div class="preloader">
            <div class="vertical-centered-box">
                <div class="content">
                    <div class="loader-circle"></div>
                    <div class="loader-line-mask">
                        <div class="loader-line"></div>
                    </div>
                    <img src="{% static 'assets/images/preloader.png' %}" alt="">
                </div>
            </div>
        </div>
        <!-- end preloader -->
        <!-- Start header -->
        {% include 'include/header.html'%}

        <!-- start wpo-page-title -->
        <section class="wpo-page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>FAQ</h2>
                            <ol>
                                <li><a href="{% url 'index' %}">Главная</a></li>
                                <li>FAQ</li>
                            </ol>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div>
            <!-- end container -->
            <div class="left-img">
                {% comment %} <img src="{% static 'assets/images/pagetitle.png' %}" alt=""> {% endcomment %}
            </div>
            <div class="right-img">
                <div class="shape-1">
                    <img src="{% static 'assets/images/shape-1.png' %}" alt="">
                </div>
                <div class="image">
                    <img src="{{slide.image.url}}" alt="">
                </div>
                <div class="shape-2">
                    <img src="{% static 'assets/images/shape-2.png' %}" alt="">
                </div>
            </div>
        </section>
        <!-- end page-title -->

        <!-- start wpo-faq-section -->
        <section class="wpo-faq-section section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="wpo-section-title">
                            <h2>Ваши вопросы</h2>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-2">
                        <div class="wpo-faq-section">
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <div class="wpo-benefits-item">
                                        <div class="accordion" id="accordionExample">
                                            {% for faq in faq %}
                                                <div class="accordion-item">
                                                    <h3 class="accordion-header" id="heading{{ faq.id }}">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ faq.id }}" aria-expanded="false" aria-controls="collapse{{ faq.id }}">
                                                            {{ faq.question }}
                                                        </button>
                                                    </h3>
                                                    <div id="collapse{{ faq.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ faq.id }}" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <p>{{ faq.answer }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end faq-section -->

        <div class="question-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-section-title">
                            <h2>
                                ЕСТЬ ЛИ У ВАС ВОПРОСЫ?</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="question-touch">
                            <h2>Связаться</h2>
                            <form method="post" class="contact-validation-active" id="contact-form"
                                novalidate="novalidate">
                                <div class="half-col">
                                    <input type="text" name="name" id="name" class="form-control"
                                        placeholder="Your Name">
                                </div>
                                <div class="half-col">
                                    <input type="email" name="email" id="email" class="form-control"
                                        placeholder="Email Address">
                                </div>
                                <div class="half-col">
                                    <input type="text" name="phone" id="phone" class="form-control"
                                        placeholder="Subject">
                                </div>
                                <div>
                                    <textarea class="form-control" name="note" id="note"
                                        placeholder="Your Question"></textarea>
                                </div>
                                <div class="submit-btn-wrapper">
                                    <button type="submit" class="theme-btn">Submit Now</button>
                                    <div id="loader">
                                        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                                    </div>
                                </div>
                                <div class="clearfix error-handling-messages">
                                    <div id="success">Thank you</div>
                                    <div id="error"> Error occurred while sending email. Please try again later. </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- start of wpo-site-footer-section -->
        {% include 'include/footer.html' %}
        <!-- end of wpo-site-footer-section -->


    </div>
    <!-- end of page-wrapper -->

    <!-- All JavaScript files
    ================================================== -->
{% endblock %}