{% load static %}
<header id="header">
    <!-- end topbar -->
    <div class="wpo-site-header">
        <nav class="navigation navbar navbar-expand-lg navbar-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
                        <div class="mobail-menu">
                            <button type="button" class="navbar-toggler open-btn">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar first-angle"></span>
                                <span class="icon-bar middle-angle"></span>
                                <span class="icon-bar last-angle"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-6">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'index' %}"><img src="{{settings.logo.url}}"
                                    alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-1 col-1">
                        <div id="navbar" class="collapse navbar-collapse navigation-holder">
                            <button class="menu-close"><i class="ti-close"></i></button>
                            <ul class="nav navbar-nav mb-2 mb-lg-0">
                                <li><a class="active" href="{% url 'index' %}">Главная</a></li>
                                <li><a href="{% url 'about' %}">О нас </a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Страницы</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="{% url 'shop' %}">Магазин</a>
                                            <ul class="sub-menu">   
                                                <li><a href="{% url 'shop' %}">Магазин</a></li>
                                                <li><a href="{% url 'shop_details' settings.id %}">Детально</a></li>
                                                <li><a href="{% url 'cart' %}">Корзина</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'wishlist' %}">Избранные</a></li>
                                        <li><a href="404.html">404 Error</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="login.html">login</a></li>
                                    </ul>
                                </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">team</a>
                                    <ul class="sub-menu">
                                        <li><a href="team.html">team</a></li>
                                        <li><a href="team-single.html">team single</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog right sidebar</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                        <li><a href="blog-fullwidth.html">Blog fullwidth</a></li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Blog details</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog-single.html">Blog details right sidebar</a>
                                                </li>
                                                <li><a href="blog-single-left-sidebar.html">Blog details left
                                                        sidebar</a></li>
                                                <li><a href="blog-single-fullwidth.html">Blog details
                                                        fullwidth</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                            </ul>

                        </div><!-- end of nav-collapse -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-2">
                        <div class="header-right">
                            <div class="mini-cart">
                                <button class="cart-toggle-btn"> <i class="fi flaticon-shopping-basket"></i>
                                    <span class="cart-count"></span></button>
                                <div class="mini-cart-content">
                                    <button class="mini-cart-close"><i class="ti-close"></i></button>
                                    <div class="mini-cart-items">
                                        <div class="mini-cart-item clearfix">
                                            <div class="mini-cart-item-image">
                                                <a href="shop.html"><img
                                                        src="{% static 'assets/images/shop/mini-cart/img-1.jpg' %}" alt></a>
                                            </div>
                                            <div class="mini-cart-item-des">
                                                <a href="shop.html">Ear Ring</a>
                                                <span class="mini-cart-item-price">$20.15 x 1</span>
                                                <span class="mini-cart-item-quantity"><a href="#"><i
                                                            class="ti-close"></i></a></span>
                                            </div>
                                        </div>
                                        <div class="mini-cart-item clearfix">
                                            <div class="mini-cart-item-image">
                                                <a href="shop.html"><img
                                                        src="{% static 'assets/images/shop/mini-cart/img-2.jpg' %}" alt></a>
                                            </div>
                                            <div class="mini-cart-item-des">
                                                <a href="shop.html">Necklace</a>
                                                <span class="mini-cart-item-price">$13.25 x 2</span>
                                                <span class="mini-cart-item-quantity"><a href="#"><i
                                                            class="ti-close"></i></a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini-cart-action clearfix">
                                        <span class="mini-checkout-price">Subtotal: <span>$215.14</span></span>
                                        <div class="mini-btn">
                                            <a href="checkout.html" class="view-cart-btn s1">Checkout</a>
                                            <a href="cart.html" class="view-cart-btn">View Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end of container -->
        </nav>
    </div>
</header>
