{%extends 'include/homepage.html' %}
{% load static %}
{% block content %}
<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <!-- start preloader -->
        <div class="preloader">
            <div class="vertical-centered-box">
                <div class="content">
                    <div class="loader-circle"></div>
                    <div class="loader-line-mask">
                        <div class="loader-line"></div>
                    </div>
                    <img src="{% static 'assets/images/preloader.png' %}" alt="">
                </div>
            </div>
        </div>
        <!-- end preloader -->
        <!-- Start header -->
        {% include 'include/header.html'%}
        <!-- start wpo-page-title -->
        <section class="wpo-page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>Комманда</h2>
                            <ol>
                                <li><a href="{% url 'index' %}">Главное</a></li>
                                <li>Комманда</li>
                            </ol>
                        </div>
                    </div>
                </div> <!-- end row -->                    
            </div>
            <!-- end container -->
            <div class="left-img">
                {% comment %} <img src="{% static 'assets/images/pagetitle.png' %}" alt=""> {% endcomment %}
            </div>
            <div class="right-img">
                <div class="shape-1">
                    <img src="{% static 'assets/images/shape-1.png' %}" alt="">
                </div>
                <div class="image">
                    <img src="{{team.image.url}}" alt="">
                </div>
                <div class="shape-2">
                    <img src="{% static 'assets/images/shape-2.png' %}" alt="">
                </div>
            </div>
        </section>
        <!-- end page-title -->

        <!-- start of wpo-team-section-->
        <section class="wpo-team-section s2 section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="wpo-section-title">
                            <h2>{{team.title}}</h2>
                            <p>{{team.main_description|safe}}</p>
                        </div>
                    </div>
                </div>
                <div class="team-wrap">
                    <div class="row g-0">
                        {% for employee in employee %}
                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="team-card">
                                <div class="image">
                                    <img src="{{ employee.image2.url }}" alt="">
                                </div>
                                <div class="content">
                                    <h2><a href="{% url 'team_detail' employee.id %}">{{employee.name}}</a></h2>
                                    <span>{{employee.position}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- end of wpo-team-section-->

        <!-- start of wpo-site-footer-section -->
        {% include 'include/footer.html' %}
        <!-- end of wpo-site-footer-section -->


    </div>
    <!-- end of page-wrapper -->

    <!-- All JavaScript files
    ================================================== -->
{% endblock %}